[Desktop Entry]
Encoding=UTF-8
Name=Lien vers web scraping - Python - Download Images from google Image search? - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/20716842/python-download-images-from-google-image-search
Icon=text-html
